body{
  background-color: lightgrey;
}

.section1 {
    /* background-image: url(images/homepage_pic.jpg);
    */
  height: 50%;
  padding-top: 0;
  margin-bottom: 3%;
  background: lightgrey;
}

.mynavbar {
  background:rgba(0,0,0,1.0);
  border-color: rgba(0,0,0,0.0);
  color: white;
}

.section1 h1{
  font-size: 30px;
  color: black;
}

.section1 h2{
  font-size: 20px;
  color: yellow;
}

.section1 h3{
  font-size: 20px;
  color:red;
}

.section2{
  background-color: lightgrey;
}

.section2_noticias{
  background-color: lightgrey;
}

footer{
  padding:2% 0;
  background-color: black;
  color: white;
}

.section1_nosotros{
  background: linear-gradient(111.68655302745492deg, rgba(243, 72, 104,1) 8.851778656126482%,rgba(242, 71, 104,1) 8.851778656126482%,rgba(158, 0, 236,1) 97.31027667984188%);
  padding: 5% 0;
}


.section1_nosotros p{
  font-size: 0.5em;
}

.section1_nosotros li{
  font-size: 0.5em;

}

.section1_noticias {
  background: linear-gradient(96.30747934323358deg, rgba(190, 222, 177,1) 25.681102362204726%,rgba(189, 221, 177,1) 25.681102362204726%,rgba(121, 126, 209,1) 66.04855643044618%);
  height: 350px;
  padding: 5% 0;
  margin-bottom: 3%;
}

.section2_noticias {
  margin-bottom: 3%;
}

.main_title_noticias h3{
  color:blue;
}

.spacing3{
  margin:3% 0;
}
